@import url("toggleSwitch.css");

body{
  background-color: AliceBlue;
  font-family: sans-serif;
}

header{
  overflow: auto;
  padding-top: 20px;
  background-color: #87CEEB;
}

header table{
  width: 100%;
}

header p{
  font-size: 80px;
  font-family: cursive;
  font-style: oblique;
  padding: 0px;
  margin: auto;
}

nav {
  overflow: auto;
  background-color: #efe5d0;
	margin: 10px 10px 0px 10px;
}
nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}
nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}
nav ul li a:link, nav ul li a:visited {
	color: #954b4b;
	border-bottom: none;
	font-weight: bold;
}

footer{
  background-color: Olive;
  color: white;
  text-align: center;
  font-size: small;
}
table#footer-table{
  width: 100%;
  vertical-align: top;
}
table#footer-table td{
  width: 50%;
}
table table#inner-footer-table td{
  width: 20%;
}

table table#inner-footer-table a{
  color: white;
  font-
}

.USSRBTN_ON {
   display:inline-block;
   padding:30px;
   background: #fc0303;
   border-radius: 4px;
   color: #000;
   font-size:50px;
   text-transform:uppercase;
   line-height:20px;
}

.USSRBTN_OFF {
   display:inline-block;
   padding:30px;
   background: #fff;
   border-radius: 4px;
   color: #000;
   font-size:30px;
   text-transform:uppercase;
   line-height:20px;
}
